<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>蔬菜价格信息</title>
</head>
<body>
    <div id="app">
        <div v-for="category in categories">
            <h2>{{ category.category }}</h2>
            <p>更新日期: {{ today }}</p>
            <table>
                <tr>
                    <th>名称</th>
                    <th>今日报价</th>
                </tr>
                <tr v-for="item in category.items">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }} 元/斤</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>






</html>
